#mainRow {
    height: 80vh;
}

#map {
      height: 100%;
}

#eventDisplay {
   height: 80vh; /* or any value */
   overflow-y: auto;
}

.event {
  margin-bottom: 20px;
}


.eventImg {
 width: 100%;
}

  