#mainRow {
    height: 80vh;
}

#map {
	position: absolute;
	right: 0px;
	top: 52px;
	bottom: 0px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
}

#eventDisplay {
   height: 85vh; /* or any value */
   overflow-y: auto;
}

.event {
  margin-bottom: 20px;
}


.eventImg {
 width: 100%;
}